<div class="row">
  <div class="col s1 m1 l1 xl1"></div>
  <form class="col s10 m10 l10 xl10" (ngSubmit)="addCustomer()" #form="ngForm">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input
          id="name"
          name="name"
          type="text"
          [(ngModel)]="customer.curName"
          required
          #name="ngModel"
          minlength="2"
          maxlength="50"
        />
        <label for="name">Name</label>
        <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
          <span
            class="red-text text-lighten-1"
            *ngIf="name.errors?.['required']"
            >Field is required</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="name.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="name.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input
          id="surname"
          name="surname"
          type="text"
          [(ngModel)]="customer.curSurname"
          required
          #surname="ngModel"
          minlength="1"
          maxlength="50"
        />
        <label for="surname">Surname</label>
        <ng-container
          *ngIf="surname.invalid && (surname.dirty || surname.touched)"
        >
          <span
            class="red-text text-lighten-1"
            *ngIf="surname.errors?.['required']"
            >Field is required</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="surname.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="surname.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">alternate_email</i>
        <input
          id="email"
          name="email"
          type="text"
          [(ngModel)]="customer.curEmail"
          required
          #email="ngModel"
          minlength="5"
          maxlength="255"
        />
        <label for="email">Email</label>
        <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
          <span
            class="red-text text-lighten-1"
            *ngIf="email.errors?.['required']"
            >Field is required</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="email.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="email.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input
          id="phone"
          name="phone"
          type="text"
          [(ngModel)]="customer.curPhoneNumber"
          #phone="ngModel"
          minlength="9"
          maxlength="20"
        />
        <label for="phone">Phone number</label>
        <ng-container *ngIf="phone.invalid && (phone.dirty || phone.touched)">
          <span
            class="red-text text-lighten-1"
            *ngIf="phone.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="phone.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">work_outline</i>
        <input
          id="position"
          name="position"
          type="text"
          [(ngModel)]="customer.curPosition"
          required
          #position="ngModel"
          minlength="1"
          maxlength="50"
        />
        <label for="position">Position</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">add_comment</i>
        <input
          id="comments"
          name="comments"
          type="text"
          [(ngModel)]="customer.curComments"
          required
          minlength="0"
          maxlength="255"
        />
        <label for="comments">Comments</label>
      </div>
      
    </div>
    <div class="row">
      <div class="input-field col s12">
        <app-customer-form-select [companyList]="this.companyTest" (selectedCompanyId)="setCompanyId($event)"></app-customer-form-select>
      </div>
    </div>
    <div class="row">
      <button
      class="waves-effect waves-yellow btn-large btn-submit"
      type="submit"
      (click)="returnButtonClick()"
      >
      Return
    </button>
    <button
      class="waves-effect waves-yellow btn-large btn-submit right"
      type="submit"
      [disabled]="form.invalid"
    >
      Submit
    </button>
    </div>
  </form>
  <div class="col s1 m1 l1 xl1"></div>
</div>
