.small-button:hover {
    color: #00bfa5;
    background-color: transparent;
  }
  
  .card-divider-vertical {
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }

  .vertical-divider {
   border-left: 1px solid #ececec; 
  }

  .card .card-content {
    padding: 6px 20px 0px 20px;
  }

  .row {
    margin-bottom: 0px;
  }