<div class="grid">
    <div class="row">
      <h1 class="header">Teams</h1>
    </div>
    <div class="row center-align" *ngIf="!teams">
      <div class="preloader-wrapper bigger active">
        <div class="spinner-layer spinner-teal-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="teams">
      <app-team-card
        *ngFor="let team of teams"
        [team]="team"
      ></app-team-card>
    </div>
    <a
class="btn-floating btn-large waves-effect waves-light pulse absolute"
routerLink="/teams/add"
><i class="material-icons">add</i></a
>
</div>