<div class="grid">
    <div class="row" *ngIf="teamDetails as team">
        <div class="col s12 m12 l2 xl2">
            <div class="row">
                <div class="s12 card-panel">
                    <h2 class="text-centered">{{ team.temName }}</h2>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l10 xl10">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">supervisor_account</i>Team members
                    </div>
                    <div class="collapsible-body collapsible-body-background" *ngIf="teamMembers">
                        <table class="highlight centered">
                            <thead>
                                <tr class="address-tr">
                                    <th>Employee</th>
                                    <th>Role</th>
                                    <th>Options</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let member of teamMembers" class="centered-table-tr">
                                    <td>{{ member.empName }}</td>
                                    <td>{{ member.empRole?.etrName }}</td>
                                    <td>
                                        <a data-target="edit" class="a-fix"
                                            (click)="setMember(member)"><i
                                                class="material-icons prefix edit">edit</i></a>
                                        <a (click)="deleteMember(member)" class="a-fix"><i
                                                class="material-icons prefix archive">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="collapsible emp-edit">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">person</i>Employee edit area</div>
                                <div class="collapsible-body">
                                    <div  class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">person</i>
                                            <input disabled id="emName" name="emName" required #editEmp class="disabled" />
                                        </div>
                                        <div class="input-field col s6">
                                        <i class="material-icons prefix">flag</i>
                                        <select id="roleEdit" name="roleEdit" class="test" required #roleEdit="ngModel" [(ngModel)]="sendingEmployee.empRole">
                                            <option value="" disabled>Pick one</option>
                                            <option *ngFor="let role of roles" [value]="role?.etrId">
                                                {{ role?.etrName }}
                                            </option>
                                        </select>
                                        <label>Role</label>
                                    </div>
                                        <div class="col s12">
                                            <button class="waves-effect waves-yellow btn btn-submit" (click)="cancelEdit()">Cancel</button>
                                            <button class="waves-effect waves-yellow btn btn-submit right" (click)="updateMember()" [disabled]="!roleEdit.valid">Save</button>
                                        </div>
                                    </div>
                                </div>
                              </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">person_add</i>Add member
                    </div>
                    <div class="collapsible-body collapsible-body-background">
                        <form class="row" name="form" #form="ngForm">
                            <div class="input-field col s12 m5 l5 xl5">
                                <i class="material-icons prefix">person_add</i>
                                <select id="empName" name="empName" class="test" required #empName="ngModel"
                                    [(ngModel)]="sendingEmployee.empId">
                                    <option value="" disabled>Pick one</option>
                                    <option *ngFor="let employee of employees" [value]="employee?.empId">
                                        {{ employee?.empName + ' ' + employee?.empSurname }}
                                    </option>
                                </select>
                                <label for="empName">Employee</label>
                                <ng-container *ngIf="empName.invalid && (empName.dirty || empName.touched)">
                                    <span class="red-text text-lighten-1" *ngIf="empName.errors?.['required']">Field is
                                        required</span>
                                </ng-container>
                            </div>
                            <div class="input-field col s12 m5 l5 xl5">
                                <i class="material-icons prefix">flag</i>
                                <select id="role" name="role" class="test" required #role="ngModel"
                                    [(ngModel)]="sendingEmployee.empRole">
                                    <option value="" disabled>Pick one</option>
                                    <option *ngFor="let role of roles" [value]="role?.etrId">
                                        {{ role?.etrName }}
                                    </option>
                                </select>
                                <label>Role</label>
                                <ng-container *ngIf="role.invalid && (role.dirty || role.touched)">
                                    <span class="red-text text-lighten-1" *ngIf="role.errors?.['required']">Field is
                                        required</span>
                                </ng-container>
                            </div>
                            <div class="input-field col s2">
                                <button class="waves-effect waves-yellow btn-floating" type="submit"
                                    (click)="addMember(sendingEmployee);">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>