<script src="/assets/jQuery.min.js"></script>
<div class="row">
  <div class="col s1 m1 l1 xl1"></div>
  <div class="col s10 m10 l10 xl10 ">
  <form class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">contacts</i>
        <input id="client_name" type="text" class="validate" required>
        <label for="client_name">Client</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">announcement</i>
        <input id="ticket_topic" type="text" class="validate" required>
        <label for="ticket_topic">Topic</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">date_range</i>
        <input type="text" class="datepicker" placeholder="Due date" required>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix">schedule</i>
        <select>
          <option disabled selected>Choose status</option>
          <option *ngFor="let status of statuses" [value]="status.id">
            {{status.viewValue}}
          </option>
        </select>
        <label>Status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">star</i>
        <select>
          <option disabled selected>Choose priority</option>
          <option *ngFor="let priority of priorities" [value]="priority.value">
            {{priority.viewValue}}
          </option>
        </select>
        <label>Priority</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix">av_timer</i>
        <input type="number" name="amount" id="amount" class="validate" min=0 step=0.1>
        <label for="amount" data-error="Invalid number (eg. 1200)">Estimated time</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">person</i>
        <select>
          <option disabled selected>Choose employee</option>
          <option *ngFor="let employee of employees" [value]="employee.value">
            {{employee.viewValue}}
          </option>
        </select>
        <label>Assigned Employee</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">new_releases</i>
        <select>
          <option disabled selected>Choose ticket type</option>
          <option *ngFor="let ticketType of ticketTypes" [value]="ticketType.id">
            {{ticketType.viewValue}}
          </option>
        </select>
        <label>Ticket type</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix"> description </i>
        <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
        <label for="textarea2">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <a class="waves-effect pulse waves-light btn"><i class="material-icons right">attachment</i>Add Attachment</a>
      </div>
    </div>

  </form>
</div>
</div>
