<script src="/assets/jQuery.min.js"></script>
<div class="row">
  <form class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">contacts</i>
        <input id="client_name" type="text" class="validate" required>
        <label for="client_name">Client</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">announcement</i>
        <input id="ticket_topic" type="text" class="validate" required>
        <label for="ticket_topic">Topic</label>
      </div>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">date_range</i>
      <input type="text" class="datepicker" placeholder="Due date" required>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">schedule</i>
      <select>
        <option value="" disabled selected>Choose aproppriate status</option>
        <option value="1">In Progress</option>
        <option value="2">Finished</option>
        <option value="3">Created</option>
        <option value="4">Waiting for customer</option>
        <option value="5">Waiting for third party</option>
      </select>
      <label>Status</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">star</i>
      <select>
        <option value="" disabled selected>Choose aproppriate priority</option>
        <option value="1">Urgent</option>
        <option value="2">Important</option>
        <option value="3">Basic</option>
        <option value="4">Not important</option>
      </select>
      <label>Priority</label>
    </div>

   
        <div class="row">
          <div class="input-field col s8">
            <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea2">Textarea</label>
          </div>
        </div>
      
          
    <!-- <div class="row">
      <form class="col s12">
      
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </div> -->
  </form>
</div>