<div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">pin_drop</i>
        <input id="city" type="text" [(ngModel)]="address.city" />
        <label for="city">City</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">directions</i>
        <input id="street" type="text" [(ngModel)]="address.street" />
        <label for="street">Street</label>
      </div>
      <div class="input-field col s4">
          <i class="material-icons prefix">place</i>
          <input id="building_number" type="text" [(ngModel)]="address.streetNumber" />
          <label for="building_number">Building no.</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">my_location</i>
          <input id="postal_code" type="text" [(ngModel)]="address.postalCode" />
          <label for="postal_code">Postal code</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">map</i>
            <input id="country" type="text" [(ngModel)]="address.country" />
            <label for="country">Country</label>
          </div>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <button
          class="waves-effect waves-yellow btn-large btn-submit"
          (click)="addAddress()"
        >
          Add
        </button>
      </div>
    </div>
  </div>
  