<div class="grid">
    <div class="row">
      <h1 class="header">Customers</h1>
    </div>
    <div class="row center-align" *ngIf="!customers">
      <div class="preloader-wrapper bigger active">
        <div class="spinner-layer spinner-teal-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="customers">
      <app-customer-list-card
        *ngFor="let customer of customers"
        [customer]="customer"
        (getCustomers)="reloadCustomers()"
      ></app-customer-list-card>
    </div>
    <a
      class="btn-floating btn-large waves-effect waves-light pulse absolute"
      routerLink="/customers/add"
      ><i class="material-icons">add</i></a
    >
  </div>
  