<div class="col s12 m12 l4 xl4">
  <div class="card horizontal">
    <div class="card-image">
      <a class="btn-floating btn-large"><i class="material-icons">person</i></a>
    </div>
    <div class="card-stacked">
      <div class="card-content card-divider-vertical">
        <h2 class="header">{{ customer.curName + ' ' + customer.curSurname }}</h2>
        <p><i class="material-icons">local_phone</i> {{ customer.curPhoneNumber }}</p>
        <br />
        <p><i class="material-icons">mail_outline</i> {{ customer.curEmail }}</p>
      </div>
      <div class="card-action">
        <li class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          routerLink="/tasks?customer={{ customer.curId }}">
          <i class="material-icons">assignment</i>
        </li>
        <li class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          routerLink="/employees?employee={{ customer.curId }}">
          <i class="material-icons">toc</i>
        </li>
        <li class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          routerLink="/customers/edit/{{ customer.curId }}">
          <i class="material-icons">edit</i>
        </li>
        <li class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          (click)="deleteCustomer()">
          <i class="material-icons">delete</i>
        </li>
      </div>
    </div>
  </div>
</div>