<div class="row">
    <div class="col s1 m1 l1 xl1"></div>
    <form *ngIf="employee" class="col s10 m10 l10 xl10" (ngSubmit)="updateEmployee()" #form="ngForm">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">alternate_email</i>
                <input id="email" name="email" type="text" [(ngModel)]="employee.empEmail" #email="ngModel"
                    minlength="5" maxlength="255" />
                <label for="email" class="active">Email</label>
                <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                    <span class="red-text text-lighten-1" *ngIf="email.errors?.['required']">Field is required</span>
                    <span class="red-text text-lighten-1" *ngIf="email.errors?.['minlength']">Text is too short</span>
                    <span class="red-text text-lighten-1" *ngIf="email.errors?.['maxlength']">Text is too long</span>
                </ng-container>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="phone" name="phone" type="text" [(ngModel)]="employee.empPhoneNumber" #phone="ngModel"
                    minlength="9" maxlength="20" />
                <label for="phone" class="active">Phone number</label>
                <ng-container *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                    <span class="red-text text-lighten-1" *ngIf="phone.errors?.['minlength']">Text is too short</span>
                    <span class="red-text text-lighten-1" *ngIf="phone.errors?.['maxlength']">Text is too long</span>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" name="name" type="text" [(ngModel)]="employee.empName" required #name="ngModel"
                    minlength="2" maxlength="50" />
                <label for="name" class="active">Name</label>
                <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
                    <span class="red-text text-lighten-1" *ngIf="name.errors?.['required']">Field is required</span>
                    <span class="red-text text-lighten-1" *ngIf="name.errors?.['minlength']">Text is too short</span>
                    <span class="red-text text-lighten-1" *ngIf="name.errors?.['maxlength']">Text is too long</span>
                </ng-container>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="surname" name="surname" type="text" [(ngModel)]="employee.empSurname" required
                    #surname="ngModel" minlength="1" maxlength="50" />
                <label for="surname" class="active">Surname</label>
                <ng-container *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                    <span class="red-text text-lighten-1" *ngIf="surname.errors?.['required']">Field is required</span>
                    <span class="red-text text-lighten-1" *ngIf="surname.errors?.['minlength']">Text is too short</span>
                    <span class="red-text text-lighten-1" *ngIf="surname.errors?.['maxlength']">Text is too long</span>
                </ng-container>
            </div>

        </div>
        <div class="row">
            <app-employee-edit-select [privilegeList]="privilegeList" [currentPrivileges]="empPrivileges"
                (addPrivilege)="employeePrivilegesAdd($event)" (removePrivilege)="employeePrivilegesRemove($event)">
            </app-employee-edit-select>
        </div>
        <div class="row">
            <div class="col s12 m12 l4 xl4">
                <button class="waves-effect waves-yellow btn-large btn-submit" type="button"
                    (click)="returnButtonClick()">
                    Return
                </button>
            </div>
            <div class="col s12 m12 l4 xl4">
                <button class="waves-effect waves-yellow btn-large btn-submit" type="button"
                    (click)="resetPassword()">
                    Reset password
                </button>
            </div>
            <div class="col s12 m12 l4 xl4">
                <button class="waves-effect waves-yellow btn-large btn-submit" type="submit"
                    [disabled]="form.invalid">
                    Submit
                </button>
            </div>
        </div>
    </form>
    <div class="col s1 m1 l1 xl1"></div>
</div>