<div class="col s12 paddingSidenav">
  <div class="row">
    <div class="col s12">
      <button
        class="btn btn-block waves-effect waves-light btn-large"
        type="submit"
        name="action"
      >
      <i class="material-icons prefix">dashboard</i>
        Dashboard
      </button>
    </div>
    <div class="col s12">
      <li
        class="btn btn-block waves-effect waves-light btn-large"
        routerLink="/login"
        routerLinkActive="active"
      >
        Login - temporary
      </li>
    </div>
    <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">mail_outline</i>
        Messages
        </li>
      </div>
      <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">assignment</i>
        Tickets
        </li>
      </div>
      <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">view_week</i>
        Kanban
        </li>
      </div>
      <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">business</i>
        Projects
        </li>
      </div>
      <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">event</i>
        Calendar
        </li>
      </div>
      <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">assessment</i>
        Reports
        </li>
      </div>
      <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">account_balance</i>
        Companies
        </li>
      </div>
      <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">help_outline</i>
        Help
        </li>
      </div>
      <div class="col s12">
        <li
          class="btn btn-block waves-effect waves-light btn-large"
          routerLink="/companies"
          routerLinkActive="active"
        >
        <i class="material-icons prefix">settings</i>
        Settings
        </li>
      </div>
  </div>
</div>
