/* You can add global styles to this file, and also import other style files */
$materialize-fonts-path: '~materialize-angular/fonts';

@import '~materialize-angular/styles/materialize-angular.scss';

$transition-effects: color 1s ease, background-color 1s ease;

body {
	background-color: #eeeeee;
	transition: $transition-effects;
	&.dark {
		background-color: #202123;
		color: #ffffff;
		input {
			color: #eeeeee;
		}
		input:focus {
			border-bottom: 1px solid #4169e1 !important;
			box-shadow: 0 1px 0 0 #4169e1 !important;
			color: #ffffff;
		}
		label.active {
			color: #4169e1 !important;
		}
		label {
			color: #eeeeee !important;
		}
		
		.material-icons.active{
			color: #4169e1 !important;
		}
		.nav {
			background-color: #0277bd !important;
		}
        .nb {
            background-color: #0277bd;
        }
		.card {
			background-color: #ffffff33;
		}
		.btn {
			background-color: #0277bd;
		}
        .btn-floating {
            background-color: #0277bd;
        }
        .btn-large {
            background-color: #0277bd;
        }
		.divider {
			opacity: 0.2;
		}
		.border-address {
			border: 1px solid #ffffff;
			border-radius: 10px;
		}
		.address-tr {
			border-bottom: 1px solid #ffffff;
		  }
		.sidenav {
			background-color: #2D2D31;
			li {
				a {
					&:not(.subheader){
						color: #ffffff;
						&:hover {
							background-color: #0277bd;
						}
					}
					&.subheader {
						color:#ffffff; 
					}
					.material-icons {
						color: #ffffff;
					}
				}
			}
		}
		.collection {
			border: 1px solid #ffffff33;
			.collection-item {
				background-color: #ffffff33;
				border-bottom: 1px solid #ffffff33;;
			}
		}
        .small-button {
            background-color: #4d4d4f;
            color: #ffffff;
        }
	}
}