/* You can add global styles to this file, and also import other style files */
$materialize-fonts-path: '~materialize-angular/fonts';

@import '~materialize-angular/styles/materialize-angular.scss';

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$transition-effects: color 1s ease, background-color 1s ease;

body {
	background-color: #eee;
	transition: $transition-effects;
	&.dark {
		background-color: #202123;
		color: #fff;
		input {
			color: #eee;
		}
		input:focus {
			border-bottom: 1px solid royalblue !important;
			box-shadow: 0 1px 0 0 royalblue !important;
			color: #fff;
		}
		label.active {
			color: royalblue !important;
		}
		label {
			color: #eee !important;
		}
		
		.material-icons.active{
			color: royalblue !important;
		}
		.nav {
			background-color: #0277bd !important;
		}
        .nb {
            background-color: #0277bd;
        }
		.card {
			background-color: rgba(255,255,255,0.2);
		}
		.btn {
			background-color: #0277bd;
		}
        .btn-floating {
            background-color: #0277bd;
        }
        .btn-large {
            background-color: #0277bd;
        }
		.divider {
			opacity: 0.2;
		}
		.border-address {
			border: 1px solid #fff;
			border-radius: 10px;
		}
		.address-tr {
			border-bottom: 1px solid #fff;
		  }
		.sidenav {
			background-color: #2D2D31;
			li {
				a {
					&:not(.subheader){
						color: #89B2F5;
						&:hover {
							background-color: #3B4043;
						}
					}
					&.subheader {
						color:#9AA0A6; 
					}
					.material-icons {
						color: #9AA0A6;
					}
				}
			}
		}
		.collection {
			border: 1px solid rgba(255,255,255,0.2);
			.collection-item {
				background-color: rgba(255,255,255,0.2);
				border-bottom: 1px solid rgba(255,255,255,0.2);;
			}
		}
        .small-button {
            background-color: #4d4d4f;
            color: #fff;
        }
		.task-card{
			background-color: #616161;
		}
		.card-font{ 
			color: white;
		}
	}
}
