<div class="row tasks-container" cdkDropListGroup>
    <div class="tasks-row">
        <p class="center-align flow-text">Otwarte</p>
        <div 
            cdkDropList
            #listOne="cdkDropList"
            [cdkDropListData]="openTasks"
            [cdkDropListConnectedTo]="[listTwo]"
            (cdkDropListDropped)="drop($event)">
            <app-kanban-card
                *ngFor="let ticket of openTasks"
                [ticket]="ticket"
                cdkDrag>
            </app-kanban-card>
        </div>
    </div>
    <div class="tasks-row">
        <p class="center-align flow-text">Oczekujące</p>
        <div
            cdkDropList 
            #listTwo="cdkDropList"
            [cdkDropListData]="waitingTasks"
            [cdkDropListConnectedTo]="[listOne, listThree]"
            (cdkDropListDropped)="drop($event)">
            <app-kanban-card
                *ngFor="let ticket of waitingTasks"
                [ticket]="ticket"
                cdkDrag>
            </app-kanban-card>
        </div>
    </div>
    <div class="tasks-row">
        <p class="center-align flow-text">Zrobione</p>
        <div
            cdkDropList
            #listThree="cdkDropList"
            [cdkDropListData]="doneTasks"
            [cdkDropListConnectedTo]="[listTwo]"
            (cdkDropListDropped)="drop($event)">
            <app-kanban-card
            *ngFor="let ticket of doneTasks"
            [ticket]="ticket"
            cdkDrag>
            </app-kanban-card>
        </div>
    </div>
</div>