<p class="right-align">
    <a class="btn-floating pulse btn-large waves-effect waves-light " routerLink="/tickets/create"
        routerLinkActive="active">
        <i class="material-icons right">add</i></a>
</p>
<ul class="collection" id="ticketList">
    <li class="collection-item avatar" *ngFor="let ticket of tickets">
        <a class="a-headers" href="tickets/details/{{ticket.id}}">
            <i class="material-icons circle">folder</i>
            <span class="title">{{ticket.topic}}</span>
        </a>
        <div style="display: flex; justify-content: space-between;">
            <p class="left-align">{{ticket.description}}<br>
                {{ticket.email}}
            </p>
            <p class="right-align">{{ticket.company.name}}<br>
                {{ticket.email}}
            </p>
        </div>
        <hr class="solid">
        <div class="card-action">
            <i class="Tiny material-icons iconPadding ">phone</i>
            <i class="Tiny material-icons iconPadding">mail</i>
            <a class="a-headers" href="tickets/archive/{{ticket.id}}"> <i class="Tiny material-icons iconPadding">archive</i></a>
            <a class="a-headers" href="tickets/delete/{{ticket.id}}"><i class="Tiny material-icons iconPadding">delete</i></a>
        </div>
        <a href="tickets/create" class="secondary-content"><i class="material-icons custom-icon-color">grade</i></a>
    </li>
</ul>
<p class="left-align">
    <button class="btn waves-effect pulse waves-teal" routerLink="/tickets/create" routerLinkActive="active">
        <i class="material-icons right">add</i>
        create ticket
    </button>
</p>