.bin:hover {
    color: #ef5350;
  }

.add:hover {
    color: #00bfa5;
}
  
  .centered-table-tr {
    border-bottom: 1px solid #9e9e9e;
  }
  
 tr {
    transition: coral .25s ease;
}

.test {
  position: fixed !important;
  z-index: 0 !important;
}