<div class="col s4">
    <div class="card horizontal">
      <div class="card-image"></div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="col s2">
            <img src="assets/C.png" alt="" class="circle responsive-img" />
          </div>
          <div class="col s10 card-divider-vertical">
            <h2 class="header">{{employee.name}}</h2>
            <p>{{employee.phoneNumber}}</p>
            <br />
            <p>{{employee.email}}</p>
          </div>
        </div>
        <div class="card-action">
          <li
            class="btn btn-block waves-effect waves-light btn-medium z-depth-0"
          >
            <i class="medium material-icons">chat</i>
          </li>
          <li
            class="btn btn-block waves-effect waves-light btn-medium z-depth-0"
            routerLink="/attachments?employee={{employee.id}}"
          >
            <i class="material-icons">mail_outline</i>
          </li>
          <li
            class="btn btn-block waves-effect waves-light btn-medium z-depth-0"
            routerLink="/employees?employee={{employee.id}}"
          >
            <i class="material-icons">toc</i>
          </li>
          <li
            class="btn btn-block waves-effect waves-light btn-medium z-depth-0"
            routerLink="/companies/edit?employee={{employee.id}}"
          >
            <i class="material-icons">edit</i>
          </li>
        </div>
      </div>
    </div>
  </div>
  