<div class="col s12 password-reminder">
    <div class="row"></div>
    <div class="row">
        <div class="col s2 offset-s3">
            <blockquote>Enter email for your account</blockquote>
        </div>
        <div class="col s3">
            <input #email placeholder="Email" id="email" type="text"/>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12 offset-s5">
        <button
          class="waves-effect btn-small btn-submit"
          type="submit"
          (click)="changePassword(email.value)">
          Send email
        </button>
      </div>
    </div>
  </div>
  