<div class="col s12 m12 l4 xl4">
  <div class="card horizontal">
    <div class="card-image">
      <a class="btn-floating btn-large"><i class="material-icons">domain</i></a>
    </div>
    <div class="card-stacked">
      <div class="card-content card-divider-vertical">
        <h2 class="header">{{ company.cmpName }}</h2>
        <p>{{company.cmpNipPrefix}}</p>
        <!-- <p>Kraj</p> -->
        <br />
        <p>{{company.cmpLandline}}</p>
        <!-- <p>Miasto</p> -->
      </div>
      <div class="card-action">
        <li
          class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          routerLink="/tickets?company={{ company.cmpId }}"
        >
          <i class="medium material-icons">assignment</i>
        </li>
        <li
          class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          routerLink="/projects?company={{ company.cmpId }}"
        >
          <i class="material-icons">business</i>
        </li>
        <li
          class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          routerLink="/attachments?company={{ company.cmpId }}"
        >
          <i class="material-icons">attach_file</i>
        </li>
        <li
          class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          routerLink="/employees?company={{ company.cmpId }}"
        >
          <i class="material-icons">people</i>
        </li>
        <li
          class="btn btn-block waves-effect waves-light btn-medium z-depth-0 btn-flat small-button"
          routerLink="/companies/edit/{{ company.cmpId }}"
        >
          <i class="material-icons">edit</i>
        </li>
      </div>
    </div>
  </div>
</div>
