.border-address {
    border: 1px solid #9e9e9e;
    border-radius: 10px;
}


.edit-row {
    transition: 1.0s ease-in-out;
    transform: translateX(-200%);
}

.drawer {
    transform: translateX(0) !important;
}

.mt-100 {
    margin-top: 100px;
}