<div class="row">
    <div class="col s12">
        <table class="highlight centered">
            <thead>
              <tr class="address-tr">
                  <th>City</th>
                  <th>Street</th>
                  <th>Postal code</th>
                  <th>Country</th>
                  <th>Remove</th>
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor = "let address of addresses" class="centered-table-tr">
                <td>{{address.adrTown}}</td>
                <td>{{ address.adrStreet + ' ' + address.adrStreetNumber }}</td>
                <td>{{ address.adrPostCode }}</td>
                <td>{{ address.adrCountry }}</td>
                <td><i class="material-icons prefix bin" (click)="removeAddress.emit(address)">delete</i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>