.notDrawer {
    transition: 1.0s ease-in-out;
    transform: translateX(105%) !important;

}

.drawer {
    transition: 1.0s ease-in-out;
    transform: translateX(0) !important;

}

.width-400px {
    width: 400px;
}