<div class="row">
  <div class="col s1 m1 l1 xl1"></div>
  <form class="col s10 m10 l10 xl10" (ngSubmit)="addEmployee()" #form="ngForm">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_box</i>
        <input
          id="login"
          name="login"
          type="text"
          [(ngModel)]="employee.empLogin"
          required
          #login="ngModel"
          minlength="2"
          maxlength="255"
        />
        <label for="login">Login</label>
        <ng-container *ngIf="login.invalid && (login.dirty || login.touched)">
          <span
            class="red-text text-lighten-1"
            *ngIf="login.errors?.['required']"
            >Field is required</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="login.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="login.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">vpn_key</i>
        <input
          id="password"
          name="password"
          type="text"
          [(ngModel)]="employee.empPassword"
          required
          #password="ngModel"
          minlength="4"
          maxlength="255"
          pattern="^(?=.*?[a-zA-Z])(?=(.*?[\d]){0,})(?=(.*?[\W]){0,})(?!.*\s).{8,}$"
        />
        <label for="password">Password</label>
        <ng-container
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <span
            class="red-text text-lighten-1"
            *ngIf="password.errors?.['required']"
            >Field is required</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="password.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="password.errors?.['maxlength']"
            >Text is too long</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="password.errors?.['pattern']"
            >Password must have at least 8 characters including 1 special
            character, 1 number, 1 upper case letter and 1 lower case
            letter</span
          >
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input
          id="name"
          name="name"
          type="text"
          [(ngModel)]="employee.empName"
          required
          #name="ngModel"
          minlength="2"
          maxlength="50"
        />
        <label for="name">Name</label>
        <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
          <span
            class="red-text text-lighten-1"
            *ngIf="name.errors?.['required']"
            >Field is required</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="name.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="name.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input
          id="surname"
          name="surname"
          type="text"
          [(ngModel)]="employee.empSurname"
          required
          #surname="ngModel"
          minlength="1"
          maxlength="50"
        />
        <label for="surname">Surname</label>
        <ng-container
          *ngIf="surname.invalid && (surname.dirty || surname.touched)"
        >
          <span
            class="red-text text-lighten-1"
            *ngIf="surname.errors?.['required']"
            >Field is required</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="surname.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="surname.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input
          id="phone"
          name="phone"
          type="text"
          [(ngModel)]="employee.empPhoneNumber"
          #phone="ngModel"
          minlength="9"
          maxlength="20"
        />
        <label for="phone">Phone number</label>
        <ng-container *ngIf="phone.invalid && (phone.dirty || phone.touched)">
          <span
            class="red-text text-lighten-1"
            *ngIf="phone.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="phone.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">alternate_email</i>
        <input
          id="email"
          name="email"
          type="text"
          [(ngModel)]="employee.empEmail"
          #email="ngModel"
          minlength="5"
          maxlength="255"
        />
        <label for="email">Email</label>
        <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
          <span
            class="red-text text-lighten-1"
            *ngIf="email.errors?.['required']"
            >Field is required</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="email.errors?.['minlength']"
            >Text is too short</span
          >
          <span
            class="red-text text-lighten-1"
            *ngIf="email.errors?.['maxlength']"
            >Text is too long</span
          >
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <select multiple id="privileges" name="privileges" [(ngModel)]="employee.empPrivileges" required #privileges="ngModel" (ngModelChange)="print(privileges)" >
          <option
            *ngFor="let privilege of privilegeList"
            [ngValue]="privilege.id"
          >
            {{ privilege.name }}
          </option>
        </select>
        <label>Privileges</label>
        <ng-container *ngIf="privileges.invalid && (privileges.dirty || privileges.touched)">
          <span
            class="red-text text-lighten-1"
            *ngIf="privileges.errors?.['required']"
            >Field is required</span
          >
        </ng-container>
      </div>
    </div>
    <div class="row">
      <button
        class="waves-effect waves-yellow btn-large btn-submit"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button>
      <button
        class="waves-effect waves-yellow btn-large btn-submit right"
        type="submit"
        (click)="returnButtonClick()"
      >
        Return
      </button>
    </div>
  </form>
  <div class="col s1 m1 l1 xl1"></div>
</div>
