<div class="row">
  <div class="col s8 offset-s2">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_box</i>
        <input id="nip_prefix" type="text" />
        <label for="nip_prefix">Login</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">vpn_key</i>
        <input id="nip" type="text" />
        <label for="nip">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="nip_prefix" type="text" />
        <label for="nip_prefix">Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="nip" type="text" />
        <label for="nip">Surname</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="nip_prefix" type="text" />
        <label for="nip_prefix">Phone number</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">alternate_email</i>
        <input id="nip" type="text" />
        <label for="nip">Email</label>
      </div>
    </div>
  </div>
</div>
