<div class="row">
    <div class="col s1 m1 l1 xl1"></div>
    <form class="col s10 m10 l10 xl10" (ngSubmit)="updateCustomer()" #form="ngForm" *ngIf="customer | async as customer">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input
            id="name"
            name="name"
            type="text"
            [(ngModel)]="customer.cur_name"
            required
            #name="ngModel"
            minlength="2"
            maxlength="50"
          />
          <label for="name" class="active">Name</label>
          <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
            <span
              class="red-text text-lighten-1"
              *ngIf="name.errors?.['required']"
              >Field is required</span
            >
            <span
              class="red-text text-lighten-1"
              *ngIf="name.errors?.['minlength']"
              >Text is too short</span
            >
            <span
              class="red-text text-lighten-1"
              *ngIf="name.errors?.['maxlength']"
              >Text is too long</span
            >
          </ng-container>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input
            id="surname"
            name="surname"
            type="text"
            [(ngModel)]="customer.cur_surname"
            required
            #surname="ngModel"
            minlength="1"
            maxlength="50"
          />
          <label for="surname" class="active">Surname</label>
          <ng-container
            *ngIf="surname.invalid && (surname.dirty || surname.touched)"
          >
            <span
              class="red-text text-lighten-1"
              *ngIf="surname.errors?.['required']"
              >Field is required</span
            >
            <span
              class="red-text text-lighten-1"
              *ngIf="surname.errors?.['minlength']"
              >Text is too short</span
            >
            <span
              class="red-text text-lighten-1"
              *ngIf="surname.errors?.['maxlength']"
              >Text is too long</span
            >
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">alternate_email</i>
          <input
            id="email"
            name="email"
            type="text"
            [(ngModel)]="customer.cur_email"
            required
            #email="ngModel"
            minlength="5"
            maxlength="255"
          />
          <label for="email" class="active">Email</label>
          <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
            <span
              class="red-text text-lighten-1"
              *ngIf="email.errors?.['required']"
              >Field is required</span
            >
            <span
              class="red-text text-lighten-1"
              *ngIf="email.errors?.['minlength']"
              >Text is too short</span
            >
            <span
              class="red-text text-lighten-1"
              *ngIf="email.errors?.['maxlength']"
              >Text is too long</span
            >
          </ng-container>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input
            id="phone"
            name="phone"
            type="text"
            [(ngModel)]="customer.cur_phoneNumber"
            #phone="ngModel"
            minlength="9"
            maxlength="20"
          />
          <label for="phone" class="active">Phone number</label>
          <ng-container *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <span
              class="red-text text-lighten-1"
              *ngIf="phone.errors?.['minlength']"
              >Text is too short</span
            >
            <span
              class="red-text text-lighten-1"
              *ngIf="phone.errors?.['maxlength']"
              >Text is too long</span
            >
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">work_outline</i>
          <input
            id="position"
            name="position"
            type="text"
            [(ngModel)]="customer.cur_position"
            required
            #position="ngModel"
            minlength="1"
            maxlength="50"
          />
          <label for="position" class="active">Position</label>
        </div>
        <div class="input-field col s6">
          <!-- <i class="material-icons prefix">account_balance</i>
          <select
            id="company"
            name="company"
            [(ngModel)]="customer.cur_idCompany"
            required
            #company="ngModel"
          >
            <option
              *ngFor="let company of companyList | async"
              [selected]="test(company.cmpId, (customer.cur_idCompany || 0))"
              [value]="company.cmpId"
            >
              {{ company.cmpName }}
            </option>
          </select>
          <label>Company</label>
          <ng-container
            *ngIf="company.invalid && (company.dirty || company.touched)"
          >
            <span
              class="red-text text-lighten-1"
              *ngIf="company.errors?.['required']"
              >Field is required</span
            >
          </ng-container> -->
          <div class="input-field col s6">
            <i class="material-icons prefix">account_balance</i>
            <input
              id="company"
              name="company"
              type="text"
              [(ngModel)]="customer.cmp_name"
              required
              #company="ngModel"
              minlength="1"
              maxlength="50"
              disabled
            />
            <label for="company" class="active">Company</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">add_comment</i>
          <input
            id="comments"
            name="comments"
            type="text"
            [(ngModel)]="customer.cur_comments"
            required
            minlength="0"
            maxlength="255"
          />
          <label for="comments" class="active">Comments</label>
        </div>
      </div>
      <div class="row">
        <button
          class="waves-effect waves-yellow btn-large btn-submit"
          type="submit"
          [disabled]="form.invalid"
        >
          Submit
        </button>
        <button
          class="waves-effect waves-yellow btn-large btn-submit right"
          type="submit"
          (click)="returnButtonClick()"
        >
          Return
        </button>
      </div>
    </form>
    <div class="col s1 m1 l1 xl1"></div>
  </div>
  